@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Spice&family=Concert+One&display=swap');

$primary-colour: orange;
$secondary-colour: rgb(255, 200, 0);
$tertiary-colour: rgb(26, 172, 26);
$fourth-colour: rgb(62, 169, 245);
$fifth-colour: rgb(211, 109, 211);


$primary-font: "Concert One";
$secondary-font: "Black Ops One";
$tertiary-font: "Bungee Spice";

