* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: red;
}

.clue__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: lightblue;
  width: 20vw;
  padding: 20px;
}
