@use "./variables" as *;
@use "./header" as *;
@use "./instructions" as *;
@use "./game" as *;
@use "./media-queries" as *;





* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(255, 166, 0, 0.719), rgba(255, 200, 0, 0.678));
  min-height: 100%;
}




